password=
IMAGE="bash /scantofile.sh"
OCR="bash /scantofile.sh"
EMAIL="bash /scantofile.sh"
FILE="bash /scantofile.sh"
SEMID=b

#IMAGE="bash  /opt/brother/scanner/brscan-skey/script/scantoimage.sh"
#OCR="bash  /opt/brother/scanner/brscan-skey/script/scantoocr.sh"
#EMAIL="bash  /opt/brother/scanner/brscan-skey/script/scantoemail.sh"
#FILE="bash  /opt/brother/scanner/brscan-skey/script/scantofile.sh"
